*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #3c6488;
    padding: 0px 10px;
}
header ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header ul li a{
    margin-left: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 2px;
}
header select{
    background-color: #3c6488;
    border: none;
    color: #ff69b4;
}
header select{
    color: rgba(255, 255, 255, 0.781);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container1{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #8000809a 1%, #ff69b4);
    /* margin-top: 2px; */
    padding-top: 10px;
}
.main{
    width:95%;
    height: 50px;
    background-color: #e5e4e4;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0px 10px;
}
.main img{
    width: 90px;
}
.main  ul{
    display: flex;
    list-style: none;
    gap: 15px;
    /* background-color: red; */
    
}
.main ul li{
    margin-right: 0.1px;
    padding: 2px 10px;
    transition: 0.9s;
}
.main .first-list li:hover{
    background-color: #ff69b4;
    border-radius: 5px;
}
.main .second-list li i:hover{
    color: #ff69b4;
}
.main ul li a{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-decoration: none;
}
.main-section{
    width: 95%;
    /* background-color: #3c6488; */
    margin: auto;
    margin-top: 20px;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-section .text{
    width: 40%;
    height: 100%;
    /* background-color: aquamarine; */
    padding-top: 14%;
    margin-left: 5%;
}

.main-section .text p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    
}
.main-section .text h1{
    font-size: 60px;
    color: black;
    font-family: system-ui;
    text-transform: capitalize;
    margin-bottom: 35px;
    user-select: none;
}
.main-section .text .first-span{
    /* background-color: red; */
    padding: 10px 20px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.main-section .text .first-span button{
    margin-left: 10px;
    border: none;
    background: none;
    font-size: 18px;
    
}
.main-section .text .first-span i:hover{
    border: none;
    background-color: #e5e4e4;
}
.main-section .text .second-span .imgsreviews{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25px;
    gap: 10px;
}
.main-section .text .second-span .imgsreviews i{
    font-size: 20px;
}
.main-section .text .second-span img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.main-section .main-pic {
  width: 50%;
  height: 100%;
  /* background-color: #3c6488; */
}
.category .head{
    width: 100px;
    height: 50px;
    background-color: #3c6488;
}
.category .heading-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top:15px;
    
}
.category .heading-category h3{
    color: black;
    background-color:#e5e4e4;
    padding: 1px 10px;
    border-radius: 7px;
}
.category .heading-category .rightleft{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.category .heading-category .rightleft .left1, .right1{
    background-color: whitesmoke;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.category .heading-category .rightleft .left1:hover i, .right1:hover i{
    color: #ff69b4;
}
.main-section .main-pic img{
    width: 70%;
    margin-left: 40px;
}
.category-items{
    width: 90%;
    height: 150px;
    background-color: #eef1f5b6;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 14px;
    border-radius: 12px;
    margin-bottom: 210px;
}
.category-items .item1, .item2, .item3,
.item4, .item5, .item6, .item7{
    width: 12%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    justify-content: center;
    text-align: center;
    transition: 0.7s;
}
.category-items .item1 .image1{
    background-image: url(images/phones.jpg);
}
.category-items .item2 .image2{
    background-image: url(images/watch.jpg);
}
.category-items .item3 .image3{
    background-image: url(images/cabl.jpg);
}
.category-items .item4 .image4{
    background-image: url(images/computer.jpg);
}
.category-items .item5 .image5{
    background-image: url(images/game.jpg);
}
.category-items .item6 .image6{
    background-image: url(images/headp.jpg);
}
.category-items .item7 .image7{
    background-image: url(images/camera.jpg);
}
.category-items .item1 .image1,.image2, .image3,
.image4, .image5, .image6, .image7{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 80%;
    margin-bottom: 7px;
    
}
.category-items .item1:hover, .item2:hover, .item3:hover,
.item4:hover, .item5:hover, .item6:hover, .item7:hover{
    transform: scale(1.2);
}
.contactus{
    width: 98%;
    background-color: #e5e4e4;
    margin: auto;
    margin-top: 100px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #8000809a 1%, #ff69b4);
}
.contactus .Lside{
    width: 30%;
    /* background-color: #3c6488; */

}
.contactus .Rside{
    width: 40%;
    text-align: center;
}
.contactus .Rside input{
    width: 300px;
    padding: 5px 10px;
    margin-top: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
}
.contactus .Rside input[type="text"]{
    height: 130px;

}
.contactus .Rside .item0{
    background-color: rgb(190, 190, 190);
}
.contactus .Lside p i{
    animation: hello 4s infinite linear;
}
@keyframes hello{
    0%{
        transform: rotateY(0deg);
    }
    25%{
        transform: rotateY(45deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(260deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.contactus .Lside h1{
    text-transform: uppercase;
}
.contactus .Lside h1::first-letter{
    color: #ff69b4;
    font-size: 47px;
    font-weight: 700;
    font-style: italic;
}
.contactus .Lside p{
    color: #e2e7eb;
    text-align: center;
}
.contactus .Lside ul{
    list-style: none;
}
.contactus .Lside ul li{
    line-height: 35px;
}
.contactus .Lside ul a{
    color: black;
    text-decoration: none;
}
.contactus input[type="submit"]{
    width: 90px;
    padding: 4px 7px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.contactus input[type="submit"]:active{
    background-color: rgb(13, 231, 13);
}
.contactus .messagge{
    background-color: rgb(94, 255, 0);
    color: #3c6488;
    width: 100%;
    border: none;
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1140px;
    }
}

/* timer start */
.timer {
    background-color: #e5e4e4;
    height: 80vh;
}
.timer .container{
margin-top: 100px;
margin-bottom: 100px;
display: flex;
}
.timer .container .content {
    margin-top: 50px;
}
.icone{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
 .icone i {
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  white;
    margin-right: 10px;
    font-size: 10px;
 }
.icone p {
    color : red ;
}
.timer .container .content h1 {
    font-weight: 500;
    font-size: 40px;
}
.timer .container .content .time {
    margin: 30px 120px 30px 20px;
    display: flex;
    justify-content: space-between;
}
.timer .container .content .time .box  {
     background-color: darkgrey;
     padding: 10px;
     text-align: center;
     border-radius: 50%;
     width: 50px;
     height: 50px;
}
.timer .container .content .time .box p:first-child {
    font-weight: 600;
    font-size: 20px;
} 
.timer .container .content .time .box p:last-child {
    font-size: 10px;
}
.timer .container .content button {
    background-color: blue;
    width: 100px;
    padding: 10px;
    border: none;
    color : white;
    border-radius: 5px;
}

.timer .container .image {
    position: relative;
}
.timer .container .image img {
    position: absolute;
    top: -120px;
}

/* timer end  */

/* products start */
.products {
  margin-top: 50px;
  margin-bottom: 50px;
}
.products .container {
}
.products .container .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .container .head .icone i {
  background-color: black;
}
.icone p {
  color: black;
}
.products .container .head .headright .right,
.products .container .head .headright .left {
  background-color: rgb(212, 212, 212);
  padding: 10px;
}
.products .container .allProducts {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.products .container .product .image {
    background-color: gainsboro;
    text-align: center;
    padding: 20px;
}
.products .container .product .content .review {
    margin-top: 5px;
    margin-bottom: 5px;
}
.products .container .product .content .review i {
    color :rgba(255, 234, 0, 0.781);
    font-size: 10px;
}
.products .container .product .content p {
    font-weight: bold;
}
.products .container .product .content span {
    font-weight: small;
    font-size: 12px;
    padding: 5px;
    text-decoration: line-through;
}


/* products start */
