*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
<<<<<<< HEAD
h1{
    color :red ;
}
header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #3c6488;
    padding: 0px 10px;
}
header ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header ul li a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
header select{
    background-color: #3c6488;
    border: none;
    color: white;
}
header select{
    color: black;
}
=======
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1140px;
    }
}

/* timer start */
.timer {
    background-color: #e5e4e4;
    height: 80vh;
}
.timer .container{
margin-top: 100px;
margin-bottom: 100px;
display: flex;
}
.timer .container .content {
    margin-top: 50px;
}
.timer .container .content .icone{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.timer .container .content .icone i {
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  white;
    margin-right: 10px;
    font-size: 10px;
}
.timer .container .content .icone p {
    color : red ;
}
.timer .container .content h1 {
    font-weight: 500;
    font-size: 40px;
}
.timer .container .content .time {
    margin: 30px 120px 30px 20px;
    display: flex;
    justify-content: space-between;
}
.timer .container .content .time .box  {
     background-color: darkgrey;
     padding: 10px;
     text-align: center;
     border-radius: 50%;
     width: 50px;
     height: 50px;
}
.timer .container .content .time .box p:first-child {
    font-weight: 600;
    font-size: 20px;
} 
.timer .container .content .time .box p:last-child {
    font-size: 10px;
}
.timer .container .content button {
    background-color: blue;
    width: 100px;
    padding: 10px;
    border: none;
    color : white;
    border-radius: 5px;
}

.timer .container .image {
    position: relative;
}
<<<<<<< HEAD
.timer .container .image img {
    position: absolute;
    top: -120px;
}

/* timer end  */
=======
/* timer end  */
>>>>>>> e8aa85a54150de5891bf56d0a11db158418a34c8
>>>>>>> 2590fa6c880a00972d571c89a79505707d5471d9
